@import "tailwindcss";

@theme {
	--font-jost: "Jost", sans-serif;
	--font-cormorant: "Cormorant Garamond", serif;

	--color-gold-primary: #c9a84c;
	--color-gold-secondary: #e8c96a;
	--color-navy-primary: #0a0f2e;
	--color-navy-secondary: #0d1540;
}

@layer base {

	body {
		@apply font-jost antialiased;
	}

	button {
		@apply font-jost font-semibold;
	}
}

@layer utilities {
	.bg-navy-gradient {
		background: linear-gradient(135deg, var(--color-navy-primary) 0%, var(--color-navy-secondary) 100%);
	}
}